.decision-problem {
    width: 100%;
    text-align: left;
}

.input-instance-arity {
    margin-right: 5%;
    display: flex;
    flex-direction: row;
}

.decision-problem-input {
    padding: 2% 2% 2% 0;
}

#is-a {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    white-space: nowrap;
}

#remove {
    margin-left: 15px;
}