form {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  width: 80%;
  padding-bottom: 12%;
}

.input {
  width: 50%;
}

.submission {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
}